*,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-footer {
  border: 1px solid silver;
  background: -webkit-linear-gradient(315deg, #42d392 25%, #cfbeff);
}

.logo {
  width: 22px;
}

select,
button,
input[type='text'],
input[type='number'],
.sort-filter-button {
  padding: .4rem;
  margin-right: 1px;
  text-decoration: none;
  background: transparent;
  border: 1px solid silver;
  background: -webkit-linear-gradient(315deg, #ffffff 100%, #ffffff);
}

.router-main-view {
  display: grid;
  height: 100%;
  gap: 1rem;
}

table {
  border-collapse: collapse
}

.table {
  overflow-y: scroll;
  height: clamp(20rem, 25rem, 30rem);
  border: 1px solid rgba(178, 168, 168, 0.689);
}

.table-columns {
  width: 100%;
}

th {
  padding-block: .5rem;
  font-weight: 500;
  border-right: 1px solid rgba(178, 168, 168, 0.689);
  border-bottom: 1px solid rgba(178, 168, 168, 0.689);
}

button {
  cursor: pointer;
}

a {
  border: none;
  background: -webkit-linear-gradient(315deg, #383a39 25%, #444446);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.header-title {
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: none;
  background: -webkit-linear-gradient(315deg, #1a861f 25%, #3e2fc7);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover {
  background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-form {

  form div label,
  form div label div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  form div label,
  form div label div {
    gap: 5rem;
  }

  select {
    min-width: 9.45rem;
  }
}